<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cimonhe.mapper.CollectMapper">

    <select id="queryCollectByCollect" parameterType="collect" resultType="collect">
        select * from second_hand_market.collect
        where collectorId = #{collectorId} and goodsId = #{goodsId}
    </select>

    <insert id="addCollect" parameterType="collect">
        insert into second_hand_market.collect(collectorId, goodsId)
        VALUES (#{collectorId},#{goodsId})
    </insert>

    <delete id="deleteCollect" parameterType="collect">
        delete from second_hand_market.collect
        where goodsId = #{goodsId} and collectorId = #{collectorId}
    </delete>

    <select id="cntGoodsByCollectorId" parameterType="int" resultType="int">
        select count(*)
        from second_hand_market.collect,second_hand_market.goods
        where collectorId = #{collectorId} and goodsId = goods.id
    </select>

    <select id="queryGoodsByCollectorId" parameterType="int" resultType="goods">
        select goods.id, goodsInfo, price, sellerId, isOnSale, pendingStatus, sellerPhone
        from second_hand_market.collect,second_hand_market.goods
        where collectorId = #{collectorId} and goodsId = goods.id
    </select>
</mapper>